### Loading the saved model

In [1]:
import pandas as pd
from joblib import load
#from sklearn.externals import joblib for older apis
#from sklearn.externals import joblib

ModuleNotFoundError: No module named 'joblib'

In [48]:
class CarPredictionModel():
    
    def __init__(self, model, features, rmse):
        self.model = model
        self.features = features
        self.rmse = rmse

In [49]:
model_v1 = load("cars.pkl")
# For older APIs
#model_v1 = joblib.load('./cars.pkl')

In [50]:
type(model_v1)

__main__.CarPredictionModel

In [51]:
model_v1.model

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  ['mileage_new', 'age',
                                                   'KM_Driven', 'Seats',
                                                   'power_new', 'engine_new']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Fuel_Type', 'Transmission',
                                                   'Owner_Type', 'make',
                                                   'Location'])])),
                ('regressor', LinearRegression())])

In [52]:
model_v1.rmse

0.9877497590789688

In [53]:
model_v1.features

['KM_Driven',
 'Fuel_Type',
 'age',
 'Transmission',
 'Owner_Type',
 'Seats',
 'make',
 'mileage_new',
 'engine_new',
 'power_new',
 'Location']

### Preparing the record for the new used-car for sale

In [54]:
car_dict = {
            'age': 2,
            'KM_Driven' : 5.5, 
            'Fuel_Type' : 'Petrol',
            'Transmission': 'Manual', 
            'Owner_Type': 'First', 
            'Seats' : 5,
            'make': 'maruti',
            'mileage_new' : 16, 
            'engine_new': 1000,
            'power_new': 90,
            'Location': 'Bangalore'
            }

In [55]:
my_car = {}
for key in model_v1.features:
    my_car[key] = 0

In [56]:
for key in car_dict:
    my_car[key] = car_dict[key]

In [57]:
my_car

{'KM_Driven': 5.5,
 'Fuel_Type': 'Petrol',
 'age': 2,
 'Transmission': 'Manual',
 'Owner_Type': 'First',
 'Seats': 5,
 'make': 'maruti',
 'mileage_new': 16,
 'engine_new': 1000,
 'power_new': 90,
 'Location': 'Bangalore'}

In [58]:
df = pd.DataFrame(my_car, index = [0])

In [59]:
df

,KM_Driven,Fuel_Type,age,Transmission,Owner_Type,Seats,make,mileage_new,engine_new,power_new,Location
0,5.5,Petrol,2,Manual,First,5,maruti,16,1000,90,Bangalore

In [60]:
df.shape

(1, 11)

### Predicting the price of the used car

In [61]:
model_v1.model.predict(df)

array([7.03904602])